<div class="row">
  <div class="col-lg-2 process-container">
<! todo how can we maintain the order of processes---->
<!--    <div *ngFor="let process of processList">-->
<!--    <div class="process chevron" (click)="onSelectProcess(process.id)">-->
<!--      <div class="process-text">{{process.name}}</div>-->
<!--    </div>-->
<!--    </div>-->

    <div class="process chevron" (click)="onSelectProcess('fw:process-data-access-and-ethics')">
      <div class="process-text">Data access and ethics</div>
    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-competency-questions')">
      <div class="process-text">Competency questions</div>
    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-interim-hosting')">
      <div class="process-text">Interim hosting</div>
    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-examination')">
      <div class="process-text">Examination</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-identify-data-types')">
      <div class="process-text">Identify data types</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-identifier-strategies')">
      <div class="process-text">Identifier strategies</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-metadata-strategies')">
      <div class="process-text">Metadata strategies</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-evaluate-against-standards')">
      <div class="process-text">Evaluate against standards</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-interoperability-requirements')">
      <div class="process-text">Interoperability requirements</div>

    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-hosting-requirements')">
      <div class="process-text">Hosting requirements</div>
    </div>
    <div class="process chevron" (click)="onSelectProcess('fw:process-data-sharing')">
      <div class="process-text">Data sharing</div>
    </div>
  </div>

  <div class="col-lg-10 sub-process-container">
    <div class="row process-description">
      <div class="process-description-title">{{title}}</div>
      {{description}}
    </div>
    <div class="row sub-process-block" *ngFor="let subProcess of subProcessList">
      <div class="col-lg-4">
        <div class="sub-process">
          {{subProcess.name}}
        </div>
      </div>
      <div class="col-lg-8">
        <div class="related-resource" *ngFor="let relatedResource of subProcess['relatesTo']">
          {{relatedResource.id}}
        </div>
      </div>
    </div>
  </div>

</div>
