.content-wrapper {
  margin-top: 54px;
}

.page-title {
  margin: 20px auto 20px;
  width: 60%;
  padding: 10px 0 0 0;
  color: #310562;
}

.assessment-levels-container {
  width: 60%;
  margin: 20px auto 20px;
}

.assessment-levels {
  background-color: #e3d2f8;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  width: 16.65%;
  float: left;
  margin-bottom: 10px;
}

.assessment-levels:hover {
  color: #ffffff;
  border: 1px solid black;
}

.assessment-levels-selected {
  background-color: #310562;
  color: #ffffff;
  border: 1px solid black;
}

.assessment-table-container {
  width: 100%;
}

.assessment-table {
  margin: 10px auto 10px;
  width: 60%;
}

.fair-search-button-container {
  width: 60%;
  clear: both;
  margin: 10px auto 100px;
}

.fair-search-button {
  float: right;
  width: 100px;
  font-size: 18px;
  padding: 5px;
}

.fair-resources {
  clear: both;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  width: 60%;
}
