.content-wrapper {
  margin-top: 51px;
}

.fair-home-wrapper {
  width: 100%;
  background-color: #310562;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  overflow: hidden
}
.fair-home {
  width: 60%;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  background-color: #310562;
  //font-family: 'Roboto', serif;
  font-size: 18px;
}

.about-section-wrapper {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-section {
  width: 1250px;
  margin: 0 auto 20px;
  text-align: justify;
}

.about-fair-img {
  width: 700px;
}

.background-white {
  background-color: #ffffff;
}

.fair-goals {
  width: 100%;
}

.fair-goal {
  float: left;
  width: 25%;
  margin: 10px 4.16%;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #310562;
  height: 150px;
}

.fair-goal:hover {
  cursor: pointer;
  border: 2px solid #000000;
  background-color: #ff4057;
}

.fair-goal-heading {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.fair-goal-content {
  width: 100%;
  text-align: center;
}

.fair-home-title {
  font-size: 40px;
  font-family: 'DejaVu Sans Mono', monospace;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
.fair-overview {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
}
.fair-overview-text {
  text-align: justify;
  font-size: 18px;
}

.btn-fair-wizard-wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
}
.table{
  background-color:#C1C1C1;
  font-size:15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-fair-wizard {
  overflow: hidden;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.btn-fair-wizard:hover {
  background-color: #ff4057;
  border: 1px solid #ff4057;
  cursor: pointer;
}
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.btn-homepage-references {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  font-size: 10px;
}

.footer {
  float: left;
  width: 100%;
}

.footer-logos {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.footer-logo {
  margin: 10px 20px;
}

.footer-text {
  float: left;
  width: 100%;
  font-size: 13px;
  text-align: justify;
}


