<!DOCTYPE html>
<html>
<body>
<!--<div class="fair-home-wrapper">-->

  <section
    class="vf-card-container vf-card-container__col-4 | vf-u-background-color--grey--lightest vf-u-fullbleed home-fair-levels about-section-wrapper"
    style="--vf-card__image--aspect-ratio: 16 / 9;">
    <div class="vf-news-container__content about-section">
      <h2>FAIR and FAIRification</h2>
      <p class="fair-overview-text">FAIR(Findability, Accessibility, Interoperability, and Reusability) principles serve
        to guide data producers and data publishers to improve their data management practices and improve the reuse of
        research data<sup>[1]</sup> FAIRification is the process of improving the FAIR level of datasets, projects or
        related infrastructure.</p>
      <h3>Challenges in FAIRification</h3>
      <p>1. While many people are aware of FAIR, it is hard to find the ideal state and FAIRification goals for their projects.
        <br>2. Implementing FAIR requires a broad spectrum of knowledge and skills.</p>
          There is no single platform providing structured guidance and systematic training in one place.
    </div>
  </section>

  <section class="vf-card-container | vf-u-background-color-ui--white about-section-wrapper" style="--vf-card__image--aspect-ratio: 16 / 9;">
    <div class="vf-news-container__content about-section">
      <h2>FAIR Wizard</h2>
      <p>The FAIR Wizard allows people without specific prior knowledge to explore solutions to help
        them adopt the  FAIR principles, as well as practical steps they can take to do so,
        supported by contextually-relevant documentation and tools.
        It also connects different FAIR communities and serves as a unified entrance for
        finding resources related to FAIR.</p>

      <h3>Aims</h3>
      <p>1. To identify FAIRification goals through a list of questions or FAIR assessment.<br>
        2. To recommend solutions for implementing FAIR based on user requirements</p>

      <h3>How the wizard works</h3>
      <div class="fair-home-wrapper background-white">
        <img class="card-img-top about-fair-img" src="assets/img/wizard_design.png" alt="wizard design">
      </div>

      <h3>How to use FAIR wizard</h3>
      <div class="fair-home-wrapper background-white">
        <img class="card-img-top about-fair-img" src="assets/img/wizard_howto.png" alt="wizard howto">
      </div>
    </div>
  </section>

  <section class="vf-card-container | vf-u-background-color--grey--lightest about-section-wrapper" style="--vf-card__image--aspect-ratio: 16 / 9;">
    <div class="vf-news-container__content about-section">
      <h2>Types of FAIRification solutions</h2>
      <!--TODO update -->
      <ul>
        <li><b>Recipes</b>. FAIRification guidelines in the FAIR Cookbook<sup>[2]</sup> developed by the FAIRplus
          project<sup>[3]</sup></li>
        <li><b>FAIRification processes</b> developed by the FAIRplus project.</li>
        <li><b>FAIR indicators</b> from the RDA data maturity model<sup>[4]</sup>.</li>
        <li><b>Curated tools</b> for FAIRification, sourced from Bio.tools<sup>[5]</sup>.</li>
      </ul>
    </div>
  </section>

<!--  <section class="vf-card-container | vf-u-background-color-ui&#45;&#45;white about-section-wrapper" style="&#45;&#45;vf-card__image&#45;&#45;aspect-ratio: 16 / 9;">-->
<!--    <div class="vf-news-container__content about-section">-->
<!--      <div class="btn-fair-wizard-wrapper">-->
<!--        <div routerLink="/wizard" class="btn-outline-danger btn-fair-wizard">Go to Wizard</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <section class="vf-card-container | vf-u-background-color--grey--lightest about-section-wrapper" style="--vf-card__image--aspect-ratio: 16 / 9;">
    <div class="vf-news-container__content about-section">
      <h2>Example FAIRification goals</h2>
      <!--TODO revive once the usecase tag is reused.
      <p>The wizard also contains manually curated solutions for common FAIRification use cases.</p> -->

      <div class="vf-content" #fairExamples id="fairExamples">
<!--        <table class="vf-table">-->
        <table class="table table-striped">
          <thead class="vf-table__header">
          <tr class="vf-table__row">
            <th class="vf-table__heading" scope="col">Summary</th>
            <th class="vf-table__heading" scope="col">Description</th>
            <!-- temporarily remove the link column to curated solutions.
            Revive once there is a better way to specify curated decision path and selected resources -->
            <!--<th class="vf-table__heading" scope="col">Solutions</th>-->
          </tr>
          </thead>
          <tbody class="vf-table__body">
          <tr class="vf-table__row">
            <td class="vf-table__cell">Identifying chemical compounds for data exchange</td>
            <td class="vf-table__cell">As a data owner, I want to use appropriate identifiers for the assay data of chemical compounds, so that
              I
              can connect all data about the same compound and exchange the data with others.
            </td>
            <!-- <td class="vf-table__cell"><a href="/resources?text=uc-chemical-identifier">Link</a></td> -->
          </tr>
          <tr class="vf-table__row">
            <td class="vf-table__cell">Applying community metadata standards</td>
            <td class="vf-table__cell">As a biologist, I want to use community metadata standards for data planning so that I can avoid missing
              information during data collection and adopt the communication exchange standards before the data is born.
            </td>
            <!-- <td class="vf-table__cell"><a href="/resources?text=uc-metadata-standards">Link</a></td> -->
          </tr>
          <tr class="vf-table__row">
            <td class="vf-table__cell">Using vocabularies to annotate data</td>
            <td class="vf-table__cell">As a curator, I want to annotate the metadata with standard vocabularies, so that the data can be
              consistent and more interoperable.
            </td>
            <!-- <td class="vf-table__cell"><a href="/resources?text=uc-vocabulary-annotation">Link</a></td> -->
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </section>


  <section class="vf-card-container | vf-u-background-color-ui--white about-section-wrapper" style="--vf-card__image--aspect-ratio: 16 / 9;">
    <div class="vf-news-container__content about-section">
        <div class="btn-homepage-references">
          <h5>References</h5>
          <p>[1] Wilkinson, Mark D., et al. "The FAIR Guiding Principles for scientific data management and
            stewardship."
            Scientific data 3.1 (2016): 1-9.</p>
          <p>[2] https://fairplus.github.io/the-fair-cookbook/content/home.html</p>
          <p>[3] https://fairplus-project.eu/</p>
          <p>[4] https://www.rd-alliance.org/groups/fair-data-maturity-model-wg</p>
          <p>[5] https://bio.tools/</p>
        </div>
    </div>
  </section>


<!--  <div class="fair-home">-->


<!--  </div>-->
<!--</div>-->
</body>
</html>

