#cy {
  width: 85%;
  height: 500px;
  float: left;
}

#legend {
  width: 15%;
  height: 500px;
  float: left;
}

#process-icon {
  background: #cde1f0;
  border-radius: 0;
}

#tool-icon {
  background: #b1f0cb;
}

#indicator-icon {
  background: #f0efcb;
}

#recipe-icon {
  background: #d0d0ce;
}

.legend-icon-container {
  display: inline-block;
  width: 100%;
}

.legend-icon {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  float: left;
}

.legend-text {
  float: right;
  width: 80%;
}
