<div class="modal-body">
  <div id="cy"></div>
  <div id="legend">
    <div class="legend-icon-container">
      <div id="process-icon" class="legend-icon"></div>
      <div class="legend-text">Process</div>
    </div>
    <div class="legend-icon-container">
      <div id="tool-icon" class="legend-icon"></div>
      <div class="legend-text">Tool</div>
    </div>
    <div class="legend-icon-container">
      <div id="indicator-icon" class="legend-icon"></div>
      <div class="legend-text">Indicator</div>
    </div>
    <div class="legend-icon-container">
      <div id="recipe-icon" class="legend-icon"></div>
      <div class="legend-text">Recipe</div>
    </div>
  </div>
</div>
