<ng-template #blankContent>No Data</ng-template>

<div class="fair-resources">
<div class="fair-processes">
  <div class="resource-sub-title">FAIRification Processes</div>
  <div *ngIf="processes.length > 0; else blankContent" class="resource-body">
    <div *ngFor="let process of processes">
      <img class="fair-process-img" [src]="process.image" alt="FAIR process">
    </div>
  </div>
</div>
<div class="fair-recipes">
  <div class="resource-sub-title">FAIR Cookbook Recipe Recommendations</div>
  <div *ngIf="recipes.length > 0; else blankContent" class="resource-body">
    <div class="row">
      <div *ngFor="let recipe of recipes" class="col-lg-2">
        <div class="card">
          <a [href]="recipe.location">
            <img class="card-img-top" [src]="recipe.image" alt="Card image cap">
          </a>
          <div class="card-body">
            <h6 class="card-title">{{recipe.name}}</h6>
            <p class="card-text text-muted">{{recipe.description}}</p>
            <span class="badge badge-dark">Findability</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fair-implementation-tools">
  <div class="resource-sub-title">FAIRification Implementation Tools</div>
  <div *ngIf="tools.length > 0; else blankContent" class="resource-body">
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Function</th>
        <th scope="col">Tools</th>
        <th scope="col">Related recipes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tool of tools">
        <td>{{tool.name}}</td>
        <td>{{tool.name}}</td>
        <td>{{tool.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="fair-indicators">
  <div class="resource-sub-title">FAIRification Indicators</div>
  <div *ngIf="indicators.length > 0; else blankContent" class="resource-body">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">Function</th>
        <th scope="col">Tools</th>
        <th scope="col">Related recipes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let indicator of indicators">
        <td>{{indicator.name}}</td>
        <td>{{indicator.name}}</td>
        <td>{{indicator.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="fair-requirements">
  <div class="resource-sub-title">FAIRification Requirements</div>
  <div *ngIf="requirements.length > 0; else blankContent" class="resource-body">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">Function</th>
        <th scope="col">Tools</th>
        <th scope="col">Related recipes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let requirement of requirements">
        <td>{{requirement.name}}</td>
        <td>{{requirement.name}}</td>
        <td>{{requirement.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
