.fair-resources {
  margin-bottom: 50px;
}

.fair-resource {
  margin-bottom: 5px;
}

.resource-sub-title {
  font-size: 30px;
  color: #5e5e5e;
  font-weight: bold;
  padding: 2px 0;
  margin: 20px 0 5px 0;

  background-color: #f3f3f3;
}

.card-title {
  //height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 1px;
}

.card-header-recipe {
  font-size: 14px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text-recipe {
  font-size: 12px;
  height: 70px;
  overflow: hidden;
  //text-overflow: ellipsis;
  //-webkit-line-clamp: 2;
  //-webkit-box-orient: vertical;
  display: -webkit-box;
}

.fair-resource-header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
}

.fair-resource-controls {
  margin-top: 10px;
}

.resource-count {
  float: right;
  margin-top: 8px;
  //margin-right: 40px;
  padding: 3px 5px;
  color: #ffffff;
  background-color: #a3a3a3;
  border-radius: 20px;
}

.collapse-btn {
  float: right;
  margin-top: -1px;
  padding-left: 5px;
  padding-right: 0;
}

.card-header .accordion-toggle:after {
  font-family: 'Glyphicons Halflings', serif;
  //content: "\f078 >";
  //content: url(/assets/img/collapse_open.png);
  content: '▲';
  font-size: 25px;
  margin-top: -9px;
  width: 20px;
  height: 20px;
  float: right;
  color: grey;
}
.card-header .accordion-toggle.collapsed:after {
  //content: url(/assets/img/collapse_close.png);
  content: '▼';
  font-size: 25px;
  margin-top: -9px;
}

.fair-process-img {
  height: 400px;
}

.fair-recipe-img {
  height: 30px;
}

.fair-recipe {
  cursor: pointer;
  margin-bottom: 20px;
}

.fair-resource-table-entry {
  cursor: pointer;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 14px;
}
