<ng-template #blankContent>No Data</ng-template>

<div class="fair-resources">

  <div class="card h-100 fair-resource">
    <h3 class="card-header">FAIRification Processes</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <p class="card-text h-100"><app-process-diagram></app-process-diagram></p>
    </div>
  </div>

  <div class="card h-100 fair-resource">
    <h3 class="card-header">FAIR Cookbook Recipe Recommendations</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <div *ngIf="recipes.length > 0; else blankContent" class="card-text h-100">
        <div class="row">
          <div *ngFor="let recipe of recipes" class="col-lg-2">
            <div class="card fair-recipe" (click)="openProcessDialog(recipe)">
<!--              <a [href]="recipe.location">-->
<!--                <img class="card-img-top fair-recipe-img" [src]="recipe.image" alt="Card image cap">-->
<!--              </a>-->
              <div class="card-header card-header-recipe">{{recipe.name}}</div>
              <div class="card-body">
<!--                <h6 class="card-title">{{recipe.name}}</h6>-->
                <p class="card-text text-muted card-text-recipe">{{recipe.description}}</p>
                <span class="badge badge-dark">Findability</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card h-100 fair-resource">
    <h3 class="card-header">FAIRification Implementation Tools</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <div *ngIf="tools.length > 0; else blankContent" class="card-text h-100">
        <table class="table table-hover table-bordered table-dark" aria-describedby="FAIRification implementation tools">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr class="fair-resource-table-entry" *ngFor="let tool of tools" (click)="openProcessDialog(tool)">
            <td>{{tool.name}}</td>
            <td>{{tool.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card h-100 fair-resource">
    <h3 class="card-header">FAIRification Indicators</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <div *ngIf="indicators.length > 0; else blankContent" class="card-text h-100">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr class="fair-resource-table-entry" *ngFor="let indicator of indicators" (click)="openProcessDialog(indicator)">
            <td>{{indicator.name}}</td>
            <td>{{indicator.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card h-100 fair-resource">
    <h3 class="card-header">Maturity level improvements</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <div *ngIf="requirements.length > 0; else blankContent" class="card-text h-100">
        <table class="table table-hover table-dark">
          <caption>FAIRification implementation tools</caption>
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr class="fair-resource-table-entry" *ngFor="let requirement of requirements" (click)="openProcessDialog(requirement)">
            <td>{{requirement.name}}</td>
            <td>{{requirement.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card h-100 fair-resource">
    <h3 class="card-header">FAIRification examples</h3>
    <div class="card-body">
      <h6 class="card-title h-100">Short description of FAIRification Processes</h6>
      <div *ngIf="requirements.length > 0; else blankContent" class="card-text h-100">

      </div>
    </div>
  </div>

</div>
