.fair-resources {
  margin-bottom: 50px;
}

.fair-resource {
  margin-bottom: 5px;
}

.resource-sub-title {
  font-size: 30px;
  color: #5e5e5e;
  font-weight: bold;
  padding: 2px 0;
  margin: 20px 0 5px 0;

  background-color: #f3f3f3;
}

.card-title {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-header-recipe {
  font-size: 14px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text-recipe {
  font-size: 12px;
  height: 70px;
  overflow: hidden;
  //text-overflow: ellipsis;
  //-webkit-line-clamp: 2;
  //-webkit-box-orient: vertical;
  display: -webkit-box;
}

.fair-process-img {
  height: 400px;
}

.fair-recipe-img {
  height: 30px;
}

.fair-recipe {
  cursor: pointer;
  margin-bottom: 20px;
}

.fair-resource-table-entry {
  cursor: pointer;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 14px;
}
