.resource-sub-title {
  font-size: 30px;
  color: #310562;
  font-weight: bold;
  padding: 10px 0;
}

.card-title {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.fair-process-img {
  height: 300px;
}
