.fair-wizard {
  width: 60%;
  display: block;
  margin: 0 auto 100px;
}

.wizard-fixed-head {
  position: fixed;
  background: #ffffff;
  top: 0;
  margin-top: 51px;
  padding-bottom: 10px;
  width: 60%;
  z-index: 10;
  border-bottom: 1px solid #b0b0b0;
  box-shadow: 0 12px 12px -12px #dad9d9;
}

.wizard-scroll-content {
  margin-top: 195px;
}

.page-title {
  padding: 10px 0 0 0;
  color: #310562;
}
.wizard-stage {
  font-size: 18px;
  color: #646464;
}

.fair-search-button-container {
  width: 100%;
  clear: both;
}

.fair-search-button {
  float: right;
  width: 100px;
  font-size: 18px;
  padding: 5px;
}

.actions-container {
  width: 100%;
  float: left;
  margin: 20px 0;
}

.permalink-link {
  border: 1px solid black;
  overflow: auto;
  padding: 6px;
  border-radius: 5px;
  background-color: #dcdcdc;
}

.fair-report-button {
  float: left;
  margin-right: 15px;
  color: #ffffff;
  border-color: #000000;
  background-color: #310562;
}

.fair-report-button:hover {
  color: #ffffff;
  background-color: #ff4057;
  border-color: #310562;
}

.fair-resources {
  clear: both;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
}

.fair-resource {
  text-align: center;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ffffff;
  padding: 10px;
}

.fair-resource:hover {
  border: 1px solid #dbdbdb;
}

.fair-resource-img {
  height: 70px;
  object-fit: contain;
}

.fair-resource-title {

}

.progress {
  height: 22px;
}

.progress-bar {
  background-color: #407bff;
  padding-left: 10px;
}
