<div class="fair-wizard">
  <h1 class="page-title">FAIRification Wizard</h1>
  <div *ngFor="let d of decisions; let i = index">
    <app-decision-path
      [decision]="d"
      (resetNodeEvent)="resetDecision($event)">
    </app-decision-path>
  </div>
  <app-decision-node *ngIf="!reachedLeaf && currentNode != undefined"
                     [question]="currentNode"
                     (selectAnswerEvent)="addDecision($event)">
  </app-decision-node>
  <div *ngIf="reachedLeaf">
    <div class="fair-search-button-container">
      <button class="btn btn-primary fair-search-button" (click)="searchResources()">Search</button>
    </div>
  </div>

  <div class="fair-resources container-fluid" *ngIf="fairResources != undefined && fairResources.length > 0">
    <app-fair-resources [resources]="fairResources"></app-fair-resources>
  </div>

</div>
