<div class="fair-resources-wrapper">
  <div class="fair-resources">
    <div class="fair-processes">
      <div class="resource-sub-title">FAIRification Processes</div>
      <div class="resource-body"></div>
    </div>
    <div class="fair-recipes">
      <div class="resource-sub-title">FAIR Cookbook Recipe  Recommendations</div>
      <div class="resource-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-dark">Findability</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-dark">Findability</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-dark">Findability</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-secondary">Reusability</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-dark">Findability</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Data Catalog Markup</h6>
              <p class="card-text text-muted">Embed Schema.org markup in a web page</p>
              <span class="badge badge-primary">Interoperability</span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="fair-implementation-tools">
      <div class="resource-sub-title">FAIRification Implementation Tools</div>
      <div class="resource-body">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th scope="col">Function</th>
            <th scope="col">Tools</th>
            <th scope="col">Related recipes</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>BioSchema Generation</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>BioSchema Validation</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>BioSchema Visualization</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="fair-outcomes">
      <div class="resource-sub-title">Expected FAIRification Outcomes</div>
      <div class="resource-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">Function</th>
            <th scope="col">Tools</th>
            <th scope="col">Related recipes</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>BioSchema Generation</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>BioSchema Validation</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
