.fair-resources-wrapper {
  width: 100%;
  overflow: hidden
}

.fair-resources {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.resource-sub-title {
  font-size: 30px;
  color: #310562;
  font-weight: bold;
  padding: 10px 0;
}
