.page-title {
  padding: 0.9rem 0 0 0;
  color: #310562;
}

.search-results-text {
  padding: 0.5rem 0 0 0;
  margin: 0;
  color: #000000;
}

.fair-resources-wrapper {
  width: 100%;
  overflow: hidden;
}

.fair-resources {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.resource-title {
  font-size: 32px;
  text-decoration: underline;
  color: #310562;
  font-weight: bold;
  padding: 10px 0;
}
