.decision-node {
  margin-top: 20px;
  margin-bottom: 20px;
  //padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  color: #310562;
}

.answer {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #989898;
  border: 1px solid #989898;
}

.answer:hover {
  border: 1px solid #310562;
  background-color: #544462;
}

.answer-selected {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #310562;
  border: 1px solid #989898;
}

.fair-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}

.btn-answer {
  color: #310562;
  border-color: #310562;
  margin: 18px 20px 10px 50px;
  width: 90px;
}

.btn-answer:hover {
  color: #ffffff;
  background-color: #310562;
}
