.decision-node {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  color: #310562;
}

.answer {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #310562;
}

.fair-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}
