<div class="card decision-node">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <div class="card-title question">{{question.question}}</div>
        <div *ngFor="let answer of question.answers">
          <div class="badge badge-primary answer" (click)="addAnswer(answer)">{{answer.text}}</div>
        </div>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-outline-primary btn-answer" (click)="next()">Next</button>
      </div>
    </div>
  </div>
</div>
