.content-wrapper {
  //margin-top: 54px;
  width: 60%;
  display: block;
  margin: 0 auto 100px;
}

.assessment-fixed-head {
  position: fixed;
  background: #ffffff;
  top: 0;
  margin-top: 51px;
  padding-bottom: 10px;
  width: 60%;
  z-index: 10;
  border-bottom: 1px solid #b0b0b0;
  box-shadow: 0 12px 12px -12px #dad9d9;
}

.page-title {
  padding: 10px 0 0 0;
  color: #310562;
}

.assessment-stage {
  font-size: 18px;
  color: #646464;
}

.progress {
  height: 22px;
}

.progress-bar {
  background-color: #407bff;
  padding-left: 10px;
}

.assessment-scroll-content {
  margin-top: 195px;
}

.assessment-levels-container {
  margin: 20px auto 20px;
}

.assessment-levels {
  background-color: #e3d2f8;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  width: 16.65%;
  float: left;
  margin-bottom: 10px;
}

.assessment-levels:hover {
  color: #ffffff;
  border: 1px solid black;
}

.assessment-levels-selected {
  background-color: #310562;
  color: #ffffff;
  border: 1px solid black;
}

.assessment-table-container {
  width: 100%;
}

.assessment-table {
  margin: 10px auto 10px;
  width: 100%;
}

.fair-search-button-container {
  clear: both;
  margin: 10px auto 100px;
}

.assessment-search-button {
  float: right;
  width: 100px;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
}

.assessment-next-button {
  float: left;
  width: 100px;
  font-size: 18px;
  padding: 5px;
}

.assessment-result {
  clear: both;
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
}

.assessment-result-header {
  margin-bottom: 15px;
  color: #310562;
  font-size: 34px;
}

.assessment-result-subheader {
  margin-bottom: 10px;
  color: #7e7e7e;
  font-size: 28px;
}

.assessment-figures {
  overflow: auto;
}

.assessment-overall-score {
  float: left;
  width: 100%;
  padding: 10px;
  background-color: #310562;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.assessment-overall-description {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.assessment-figure-breakdown {
  float: left;
  width: calc(100% - 570px);
  margin-right: 50px;
}

.assessment-figure-spider {
  float: left;
  width: 500px;
}
