.assessment-principle-container {
  width: 60%;
  margin: 20px auto 20px;

}

.assessment-principle {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.assessment-table {
  margin: 0 auto;
}
