<div class="main-container">
  <header class="vf-header">
    <header class="vf-global-header">
<!--      <a routerLink="/home" class="navbar-brand vf-logo | vf-logo&#45;&#45;has-text">FAIR-WIZARD</a>-->
      <a routerLink="/home" class="navbar-brand vf-logo | vf-logo--has-text">
        <img src="assets/img/logo.png" height="40" alt="IMI logo" lass="footer-logo" loading="lazy"/>
      </a>
      <div></div>
      <nav class="vf-navigation vf-navigation--global | vf-cluster">
        <ul class="vf-navigation__list | vf-list | vf-cluster__inner mb-0">
          <li class="vf-navigation__item">
            <a routerLink="/home" class="nav-link vf-navigation__link">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="vf-navigation__item">
            <a routerLink="/wizard" class="nav-link vf-navigation__link">Wizard</a>
          </li>
<!--          <li class="vf-navigation__item">-->
<!--            <a routerLink="/resources" class="nav-link vf-navigation__link">Resources</a>-->
<!--          </li>-->
          <li class="vf-navigation__item">
            <a routerLink="/assessment" class="nav-link vf-navigation__link">Assessment</a>
          </li>
<!--          <li class="vf-navigation__item">-->
<!--            <a routerLink="/showcase" class="nav-link vf-navigation__link">Showcase</a>-->
<!--          </li>-->
          <li class="vf-navigation__item">
            <a routerLink="/about" class="nav-link vf-navigation__link">About</a>
          </li>
        </ul>
      </nav>

<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search Resources" aria-label="Search"-->
<!--               [(ngModel)]="searchText" name="searchText">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0 btn-nav-search" (click)="search()">Search</button>-->
<!--      </form>-->

    </header>
  </header>
</div>



<router-outlet></router-outlet>

<div style="position: relative">
<footer class="vf-footer">
  <div class="vf-footer__inner">
    <div class="vf-footer__notice footer-text">
      This project has received funding from the <a href="https://www.imi.europa.eu/">Innovative Medicines Initiative</a>
      Joint Undertaking under grant agreement No 802750. This Joint Undertaking receives support from the European Union’s
      Horizon 2020 research and innovation programme and EFPIA Companies. This communication reflects the views of the
      authors
      and neither IMI nor the European Union, EFPIA or any Associated Partners are liable for any use that may be made of
      the information contained herein.
    </div>
    <div class="footer-logos">
      <a href="https://europa.eu/"><img src="assets/img/eu-flag.png" height="40" alt="EU flag" class="footer-logo"
                                        loading="lazy"/></a>
      <a href="https://www.imi.europa.eu/"><img src="assets/img/imi-flag.jpg" height="40" alt="IMI logo"
                                                class="footer-logo" loading="lazy"/></a>
      <a href="https://efpia.eu"><img src="assets/img/efpia.jpeg" height="40" alt="EFPIA logo" class="footer-logo"
                                      loading="lazy"/></a>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1 w-100">
      <ul class="vf-footer__list vf-footer__list--legal | vf-list vf-list--inline">
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">AIT Team</a>
        </li>
        <li class="vf-list__item">
          <a href="JavaScript:Void(0);" class="vf-list__link">Services</a>
        </li>
      </ul>
    </section>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <p class="vf-footer__legal-text">Copyright © EMBL 2022</p>
      <p class="vf-footer__legal-text">EMBL-EBI, Wellcome Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK.</p>
      <p class="vf-footer__legal-text">Tel: +44 (0)1223 49 44 44</p>
    </section>
  </div>
</footer>
</div>
