<div class="main-menu-container">
  <nav class="navbar navbar-expand-lg main-menu">
    <a routerLink="/home" class="navbar-brand">FAIR-WIZARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/wizard" class="nav-link">Wizard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resources" class="nav-link">Resources</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Resources" aria-label="Search" [(ngModel)]="searchText" name="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-nav-search" (click)="search()">Search</button>
<!--          <a class="btn btn-outline-success my-2 my-sm-0 btn-nav-search" routerLink="/resources" [queryParams]="{text: searchText}">Resources</a>-->
      </form>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

