.main-container {
  //max-width: 80em;
  //margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  margin-bottom: 50px;
  background: white;
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 1px solid black;
}

.vf-global-header {
  padding-top: 0;
  padding-bottom: 0;
}

.main-menu-container {
  width: 100%;
  background-color: #310562;
}

.main-menu {
  width: 60%;
  margin: 0 auto;
  background-color: #310562;
  color: #ffffff;
  padding: 0;
}

.main-menu a {
  color: #ffffff;
}

.main-menu li {
  padding: 0.3rem;
}

.main-menu li:hover {
  background-color: #ff4057;
}

.btn-nav-search {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-nav-search:hover {
  color: #ffffff;
  background-color: #ff4057;
  border-color: #310562;
}

.footer-logos {
  float: right;
  width: 400px;
  margin: 0 auto;
  display: block;
}

.footer-logo {
  margin: 5px 20px;
}

.footer-text {
  float: left;
}
