.save-dialog-header {
  font-weight: bold;
  font-size: 22px;
  color: #310562;
}

.save-dialog-label {
  color: #2d2d2d;
  margin-top: 7px;
  margin-bottom: 2px;
  width: 15%;
  float: left;
}

.save-dialog-input {
  margin-bottom: 10px;
  width: 85%;
  float: left;
}

.save-dialog-label-textarea{
  color: #2d2d2d;
  margin-top: 7px;
  margin-bottom: 2px;
}

.save-dialog-textarea {
  margin-top: -25px;
  margin-bottom: 30px;
}

.btn-action {
  float: right;
  margin: 5px;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}

.dialog-error {
  color: #880000;
}
