.decision-node {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  float: left;
  justify-content: left;
  width: 60%;
}

.answer {
  float: left;
  cursor: pointer;
  width: 20%;
}

.reset-button {
  float: right;
  width: 20%;
  margin-left: 30px;
}

.answer:hover {
  background-color: rgba(110, 13, 54, 0.31);
}

.fair-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}
