.decision-node {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
}

.answer {
  float: left;
  margin-right: 10px;
  font-size: 20px;
}

.reset-button {
  float: right;
  width: 20%;
  margin-left: 30px;
}

.btn-answer {
  color: #310562;
  border-color: #310562;
}

.btn-answer:hover {
  color: #ffffff;
  background-color: #310562;
}

.fair-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}
