<div class="card decision-node {{fairStep}}">
<!--  <div class="card-header">{{decision.question.category}}</div>-->
  <div class="card-header question">{{decision.question.question}}</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
<!--        <div class="card-title question">{{decision.question.question}}</div>-->
        <div *ngFor="let answer of decision.question.answers">
          <div class="badge badge-primary answer"
               [ngClass]="decision.answers.includes(answer) ? 'answer-selected' : 'answer'">{{answer.text}}</div>
        </div>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-outline-primary btn-answer" (click)="callParent(decision.question)">Change</button>
      </div>
    </div>
  </div>
</div>
