<div class="fair-home-wrapper">
  <div class="fair-home">
      <h2>What is FAIR and why FAIRify the data</h2>
      <p class="fair-overview-text"> Findability, Accessibility, Interoperability, and Reuse of digital assets. The principles emphasise
        machine-actionability (i.e., the capacity of computational systems to find, access, interoperate, and reuse data
        with none or minimal human intervention) because humans increasingly rely on computational support to deal with
        data as a result of the increase in volume, complexity, and creation speed of data. </p>
      <h2>What does the FAIR wizard do?</h2>
      <p class="fair-overview-text">To provide guidance on FAIRification of projects and datasets, and make FAIRplus project outcomes more
        accessible and reusable for external academic projects and pharmaceutical partners, we propose the creation of a
        FAIRplus FAIRification wizard. This web-based service will support FAIRification workflow design by data owners,
        data stewards and other key stakeholders, exploiting FAIRplus FAIRification solutions by aligning user needs and
        project outputs such as FAIR assessments and cookbook recipes. The wizard will consist of two parts:
        A self-assessment tool to evaluate the FAIR maturity level of the user’s project, and identify competency
        questions and user requirements for FAIRification
        A FAIRification solution knowledgebase with all FAIRplus recipes, examples, indicators, and processes
        The wizard will map the results of the self-assessment to existing solutions, and return a personalized
        FAIRification workflow to the user. The personalized workflow will recommend FAIRification processes and
        recipes, estimates the costs and outcomes of the FAIRification work, and provides dataset FAIRfication examples.
      </p>

      <h2>How to use FAIR wizard</h2>
      <ul>
        <li>Step 1: complete a FAIR survey in the wizard page</li>
        <li>Step 2: perform assessment if you like</li>
        <li>Step 3: get the FAIRification solution</li>
        <li>Step 4: understand and use the solution</li>
      </ul>
      <h2>Source of FAIRification materials </h2>
      <p>We work with different communities to generate FAIRification materials</p>
    <div class="row ml-1">
        <div class="card">
          <img class="card-img-top" src="assets/img/fair-cookbook.png" alt="FAIR Cookbook">
          <div class="card-body">
            <a href="https://fairplus.github.io/the-fair-cookbook/content/home.html">
            <h5 class="card-title">FAIR cookbook</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/elixir-tess.png" alt="Card image cap">
          <div class="card-body">
            <a href="https://tess.elixir-europe.org/">
            <h5 class="card-title">Elixir Tess</h5>
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/ebi-training.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="https://www.ebi.ac.uk/training/">
            <h5 class="card-title">EBI training</h5>
            </a>
          </div>
        </div>
    </div>

    <h2>Example use case and solutions</h2>
    <ol>
      <li><a href="example.com">User1: EBiSC project. how to perform ontology annotation to make them more findable</a></li>
      <li><a href="example.com">User2: HCA project. how to improve cell line metadata</a></li>
    </ol>

    <div class="card">
      <img class="card-img-top" src="assets/img/home_process.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FAIRification Process</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Recipes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_indicators.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Indicators</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_tools.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tools</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_requirements.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Requirements</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>

<div class="fair-home-wrapper background-white">
  <div class="fair-home background-white">
    <img class="fair-overview" src="assets/img/home_overview.png" alt="overview">
  </div>
</div>

<div class="fair-home-wrapper">
  <div class="fair-home">
    <div class="btn-fair-wizard-wrapper">
      <div routerLink="/wizard" class="btn-outline-danger btn-fair-wizard">Go to Wizard</div>
    </div>
  </div>
</div>
