.fair-home-wrapper {
  width: 100%;
  background-color: #310562;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  overflow: hidden
}

.fair-home {
  width: 60%;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  background-color: #310562;
  font-family: 'Roboto', serif;
  font-size: 18px;
}

.background-white {
  background-color: #ffffff;
}

.fair-home-title {
  font-size: 40px;
  font-family: 'DejaVu Sans Mono', monospace;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
.fair-overview {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
}
.fair-overview-text {
  text-align: justify;
  font-size: 18px;
}
.card {
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  text-align: center;
  border-width: 0;
  background-color: #310562;
}

.btn-fair-wizard-wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
}

.btn-fair-wizard {
  overflow: hidden;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.btn-fair-wizard:hover {
  background-color: #ff4057;
  border: 1px solid #ff4057;
  cursor: pointer;
}
