<div class="fair-home-wrapper">
<div class="fair-home">
  <div class="fair-home-title">FAIRification Solution Recommendations</div>
  <div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_process.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FAIRification Process</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_recipes.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Recipes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_indicators.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Indicators</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_tools.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tools</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/home_requirements.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Requirements</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="btn-fair-wizard-wrapper">
    <div routerLink="/wizard" class="btn-outline-danger btn-fair-wizard">Go to Wizard</div>
  </div>
</div>
</div>
